@page
@model MignotauriNonMiDimenticarApp.Pages.Posizioni.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Posizione</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posizione.indirizzo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posizione.indirizzo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posizione.comune)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posizione.comune)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posizione.provincia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posizione.provincia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posizione.longitudine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posizione.longitudine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posizione.latitudine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posizione.latitudine)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Posizione.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
