@page
@model MignotauriNonMiDimenticarApp.Pages.Posizioni.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Posizione[0].indirizzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posizione[0].comune)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posizione[0].provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posizione[0].longitudine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posizione[0].latitudine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Posizione) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.indirizzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comune)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longitudine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latitudine)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
