@page
@model MignotauriNonMiDimenticarApp.Pages.Scuole.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Scuola[0].denominazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scuola[0].ente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scuola[0].indirizzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scuola[0].indiceOccupazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scuola[0].sitoWeb)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Scuola) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.denominazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.indirizzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.indiceOccupazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sitoWeb)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
